body {
  background-color: rgb(231, 131, 9);
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: bisque;
}

button {
  cursor: pointer;
  border: 10px;
  background-color: azure;
  padding: 5px;
}
